.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-office {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-file-text {
  width: 32px;
  height: 32px;
  background-position: -48px 0;
}
.icon-coin-dollar {
  width: 32px;
  height: 32px;
  background-position: -96px 0;
}
.icon-envelop {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}
.icon-printer {
  width: 32px;
  height: 32px;
  background-position: -192px 0;
}
.icon-undo {
  width: 32px;
  height: 32px;
  background-position: -240px 0;
}
.icon-redo {
  width: 32px;
  height: 32px;
  background-position: -288px 0;
}
.icon-undo2 {
  width: 32px;
  height: 32px;
  background-position: -336px 0;
}
.icon-redo2 {
  width: 32px;
  height: 32px;
  background-position: -384px 0;
}
.icon-bubble2 {
  width: 32px;
  height: 32px;
  background-position: -432px 0;
}
.icon-user-minus {
  width: 32px;
  height: 32px;
  background-position: -480px 0;
}
.icon-user-tie {
  width: 32px;
  height: 32px;
  background-position: -528px 0;
}
.icon-quotes-left {
  width: 32px;
  height: 32px;
  background-position: -576px 0;
}
.icon-quotes-right {
  width: 32px;
  height: 32px;
  background-position: -624px 0;
}
.icon-cog {
  width: 32px;
  height: 32px;
  background-position: -672px 0;
}
.icon-meter {
  width: 32px;
  height: 32px;
  background-position: -720px 0;
}
.icon-bin {
  width: 32px;
  height: 32px;
  background-position: 0 -48px;
}
.icon-menu {
  width: 32px;
  height: 32px;
  background-position: -48px -48px;
}
.icon-menu2 {
  width: 44px;
  height: 32px;
  background-position: -96px -48px;
}
.icon-menu3 {
  width: 44px;
  height: 32px;
  background-position: -192px -48px;
}
.icon-menu4 {
  width: 44px;
  height: 32px;
  background-position: -288px -48px;
}
.icon-download3 {
  width: 32px;
  height: 32px;
  background-position: -384px -48px;
}
.icon-plus {
  width: 32px;
  height: 32px;
  background-position: -432px -48px;
}
.icon-minus {
  width: 32px;
  height: 32px;
  background-position: -480px -48px;
}
.icon-info {
  width: 32px;
  height: 32px;
  background-position: -528px -48px;
}
.icon-cancel-circle {
  width: 32px;
  height: 32px;
  background-position: -576px -48px;
}
.icon-cross {
  width: 32px;
  height: 32px;
  background-position: -624px -48px;
}
.icon-arrow-up {
  width: 32px;
  height: 32px;
  background-position: -672px -48px;
}
.icon-arrow-down {
  width: 32px;
  height: 32px;
  background-position: -720px -48px;
}
.icon-share {
  width: 32px;
  height: 32px;
  background-position: 0 -96px;
}
.icon-mail2 {
  width: 32px;
  height: 32px;
  background-position: -48px -96px;
}

