data-loading-screen {

  $loader-size: 9rem;
  $animation-duration: 2.4s;

  .loading-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    left: 0;
    top: 39%;
    transform: translateY(0);
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
    z-index: 100;
  }

  .loading-wrapper.data-ready {
    opacity: 0;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
    transform: translateY(100%);
    animation: moveOffAfterVanish .6s linear;

  }
  @keyframes moveOffAfterVanish {
    0% {
      transform: translateY(0)
    }
    99% {
      transform: translateY(-10%)
    }
    100% {
      transform: translateY(-200%)
    }
  }

  .diamonds {
    :nth-child(1) {
      //background: blueviolet;
      background: rgb(38, 166, 154);
    }
    :nth-child(2) {
      //background: greenyellow;
      background: rgb(151, 114, 166);
    }
    :nth-child(3) {
      //background: orangered;
      background: rgb(149, 166, 104);
    }
    :nth-child(4) {
      //background: blue;
      background: rgb(166, 76, 97);
    }
    display: flex;
    flex-flow: row wrap;
    width: $loader-size;
    height: $loader-size;
    transform: rotateZ(45deg);
    margin: 65px auto 0 auto;
    .diamond {
      position: relative;
      height: 50%;
      flex-basis: 50%;
      transform: scale(1.1);
      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
        animation: diamond $animation-duration infinite linear both;
        transform-origin: 100% 100%;
      }
      &-2 {
        transform: scale(1.1) rotateZ(90deg);
        &::before {
          animation-delay: 300ms;
        }
      }
      &-3 {
        transform: scale(1.1) rotateZ(180deg);
        &::before {
          animation-delay: 600ms;
        }
      }
      &-4 {
        transform: scale(1.1) rotateZ(270deg);
        &::before {
          animation-delay: 900ms;
        }
      }
    }
  }

  @keyframes diamond {
    0%,
    10% {
      transform: perspective(14rem) rotateX(-180deg);
      opacity: 0
    }
    25%,
    75% {
      transform: perspective(14rem) rotateX(0deg);
      opacity: 1
    }
    90%,
    100% {
      transform: perspective(14rem) rotateY(180deg);
      opacity: 0
    }
  }

  @keyframes load {
    0%,
    10% {
      transform: scale(2em);
    }
    25%,
    75% {
      transform: scale(1em);
    }
    90%,
    100% {
      transform: scale(2em);
    }
  }

  .loading-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    top: 239px;
    left: 0;
  }
}