m-dashboard-component {
  button.add {
    position: fixed;
    bottom: 21px;
    right: 0;
    z-index: 99;
  }


  .glyphicon-cog:before {
    font-size: 123px;
    position: fixed;
    right: -36px;
    bottom: -41px;
    z-index: 100;
    //  font-size: 3em;
  }
}
