main {
  @media (max-width: 736px) {
    mobile-screen {
      display: block;
    }
    wide-screen {
      display: none;
    }
  }

  @media (min-width: 737px) {
    mobile-screen {
      display: none;
    }
    wide-screen {
      display: block;
    }
  }

  background: lightgray;
  min-height: 100vh;

  .container {
    background: white;
    padding-bottom: 35px;
  }

  .glyphicon-cog:before {
    font-size: 123px;
    position: fixed;
    right: -36px;
    bottom: -41px;
    z-index: 100;
  //  font-size: 3em;
  }
}

toast-container div#toast-container {
  bottom: inherit;
  top: 0 !important;
}

.toast-error {
  background: #f51616;
}

.toast-warning {
  background: #f58e00;
}

.toast-success{
  background: #16d11c;
}

@import 'side-panel';
@import 'quote-details';
@import 'quote';
@import 'input';
@import 'notes';
@import '../shared/shared.styles';