home-component {
  .container{
    background: white;
  }

  .tab-content {
    margin-top: 12px;
  }

  .nav-tabs {
    overflow-y: scroll;
  }

  ul.nav-tabs {
    display: flex;
    flex-direction: row;
    min-width: 350px;
  }

  .nav-tabs>li {
    flex-grow: 1;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .nav-tabs>li>a {
    display: inline;
    border: none;
    width: 100%;
  }

  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    //background-color: rgba(230, 230, 230, 0.63);
    border: none;
    border-bottom: #6cb5ff solid;
    transition: all 0.3s cubic-bezier(1, 1, 1, 5);
    -webkit-transition: all 0.3s cubic-bezier(1, 1, 1, 5);
  }

  .nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover {
    color: #000;
    border-bottom: none;
    transition: all 0.3s cubic-bezier(1, 1, 1, 5);
    -webkit-transition: all 0.3s cubic-bezier(1, 1, 1, 5);
  }

}