main {
  background: lightgray;
  min-height: 100vh;

  .container {
    background: white;
  }
}

@import "./home";
@import "./contacts";
@import "./companies";
@import "./input";
@import "./notes";
@import "./create-company";