main {
  background: lightgray;
  min-height: 100vh;
  -webkit-transition: all .6s linear;
  -moz-transition: all .6s linear;
  -ms-transition: all .6s linear;
  -o-transition: all .6s linear;
  transition: all .6s linear;

  .loader {
    position: fixed;
    width: 100vw;
    //height: 100vh;
    left: 0;
    top: 0;
  }

  .hidden {
    opacity: 0;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
    animation:  moveOffAfterVanish 1s linear;
  }

  @keyframes moveOffAfterVanish{
    0%   {transform: translateY(0)}
    99% {transform: translateY(-100%)}
    100% {transform: translateY(-200%)}
  }



  .icon-cancel-circle {
    width: 37px;
    height: 32px;
    background-position: -576px -48px;
    transform: scale(.5);
  }

  .check-remove {
    position: fixed;
    bottom: 135px;
    width: 100vw;
    background-color: rgba(240, 248, 255, 0.86);
    left: 0;
    padding: 30px;
  }

  .quote-list {
    display: flex;
    flex-direction: column;
  }

  .quote-list-line-title-wrapper {
    display: flex;
    flex-direction: row;
    //justify-content: center;
  }

  .quote-list-line-details {
    margin: 15px 0 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  quote-line-inputs {
    display: flex;
    flex-direction: column;
  }

  quote-line-options {
    display: flex;
    flex-direction: row;
  }

  .dropdown-menu.quote, .dropdown-menu.contact {
    top: 10%;
    right: 10%;
  }

  .crm-list li {
    margin: 20px 20px 20px 20px;
  }

  .crm-list {
    display: flex;
    flex-direction: column;
  }
  .crm-list-item {
    display: flex;
    flex-direction: row;
  }

  .crm-list-item-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
  }

  .crm-list-item-title {
    flex-grow: 15;
  }

  .crm-list-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 1;
  }

  contact-header {
    display: flex;
    flex-direction: row;
  }

  contact-details {
    display: flex;
    flex-direction: column;
  }

  contact-body {
    display: flex;
    flex-direction: column;
  }

  .contact-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      margin: 10px;
      padding: 10px;
    }
  }


  textarea {
    resize: none;
  }

  .textarea-wrapper {
    display: flex;
    flex-direction: row;
  }
  .undo, .redo {
    width: 12px;
    height: auto;
  }
  .container {
    background: white;
    padding-bottom: 35px;
  }

  toast-container div#toast-container {
    bottom: inherit;
    top: 0 !important;
  }

  .toast-error {
    background: #f51616;
  }

  .toast-warning {
    background: #f58e00;
  }

  .toast-success {
    background: #16d11c;
  }
}
  @import './companies';
  @import './dashboard';
  @import './side-panel';
  @import './quote-details';
  @import './quote';
  @import './notes';
  @import './navigation';
  @import './quote-template';
  @import '../../forms/styles/input';
  @import '../../shared/shared.styles';
  @import '../../../assets/icons/sprite/sprite.css';
