quote-template {
  template-wrapper {
    display: flex;
    flex-direction: column;
  }

  template-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  template-sender-info, template-contact-info {
    display: flex;
    flex-direction: column;
  }

  template-sender-info {
    flex-grow: 3;
  }

  template-contact-info {
    flex-grow: 1;
  }

  template-body {
    display: flex;
    flex-direction: column;
  }

  quote-list {
    display: flex;
    flex-direction: column;
  }

  quote-line {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
  }

  quote-line-details {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  quote-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  send-email-confirm {
    display: block;
    position: fixed;
    bottom: 22vh;
    height: 124px;
    background: aliceblue;
    left: -34px;
    width: 100vw;
    padding: 28px;
  }
}